/******************** GSAP init ********************/
.header-transparent,
[data-gsap="fade-up-reveal"],
[data-gsap="fade-reveal"],
[data-gsap="mask-reveal"],
[data-gsap="text-clip-reveal"],
[data-gsap="text-clip-reveal"] .word *,
[data-gsap="icons-horizontal"] > *,
[data-gsap="card-group"],
[data-gsap="footer-nav"] a,
.mobile-menu__header,
.mobile-menu .nav-menu > .nav-item,
.home-hero-h1,
.home-hero-h1 .word span,
.home-hero-p,
.home-hero .start-form,
.home-hero-bg__mark,
.home-radial-glow {
  visibility: hidden;
}

/* vertical-align:bottom fixes height issue on inline elements such as spans inside headings */
[data-gsap="text-clip-reveal"] .word,
.home-hero-h1 .word {
  overflow: hidden;
  vertical-align: bottom;
}

[data-gsap="text-clip-reveal"] .word *,
.home-hero-h1 .word * {
  display: inline-block;
}

.form-step.active-step {
  visibility: visible;
}

@media screen and (max-width: 991px) {
  [data-gsap="mask-reveal"] {
    visibility: visible !important;
  }
}

/******************** Lenis + Scrollbar ********************/
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/******************** General & layout ********************/
:root {
  --ease-1: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-2: cubic-bezier(0.25, 1, 0.5, 1);
  --checkbox-size: 22px;
  --radio-size: 24px;
}

.video-bg,
.btn {
  isolation: isolate;
}

a,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.home-radial-glow-container {
  height: max(125vw, 1500px);
  max-height: 1500px;
}

.home-radial-glow {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #b5a2ce,
    #7c639dc9 32%,
    #2e135185,
    rgba(25, 7, 49, 0) 100%
  );
  width: clamp(1320px, 125vw, 2000px);
}

@media screen and (min-width: 922px) {
  .home-hero .start-form,
  .mobile-menu-overlay {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  .grid-title > div {
    grid-area: span 1 / span 8 / span 1 / span 8 !important;
  }
}

@media screen and (max-width: 991px) {
  .container.mobile-full-width {
    padding-inline: 0 !important;
  }
}

.books-img {
  will-change: initial !important;
}

@media screen and (min-width: 768px) and (max-width: 824px) {
  #book-cta .column {
    grid-column: span 6 / span 6 !important;
  }
  #book-cta .container {
    padding-bottom: 0 !important;
  }

  .book-wrapper {
    padding-top: 96px;
    justify-content: center;
  }

  .book-mockup {
    margin: 0 !important;
    width: 50vw !important;
  }

  #book-cta h2 {
    width: 640px;
    max-width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .start-form {
    padding: 24px 8% 40px;
  }
}

/******************** Text ********************/
p:last-of-type {
  margin-bottom: 0;
}

p a,
label a {
  color: var(--neutral-700);
  font-weight: 600;
  text-decoration: underline;
}

p a:hover {
  color: var(--primary-500);
}

.section-dark h1,
.section-dark h2,
.section-dark h3,
.section-dark h4,
.section-dark p {
  color: var(--white);
}

@media screen and (min-width: 992px) {
  .home-hero-h1.v2 .word:nth-child(-n + 4),
  .home-hero-h1.v2 .word:nth-child(n + 6) {
    line-height: 120%;
  }

  .home-hero-h1.v2 .word:nth-child(-n + 4) {
    font-size: clamp(46.12px, 4.0563vw, 62.51px) !important;
  }

  .home-hero-h1.v2 .word:nth-child(5) {
    font-size: clamp(127.31px, 11.1219vw, 170px) !important;
    line-height: 80%;
  }

  .home-hero-h1.v2 .word:nth-child(n + 6) {
    font-size: clamp(48.04px, 4.1998vw, 64.19px) !important;
  }

  .home-hero-h1.v2 {
    line-height: 80%;
  }
}

@media screen and (max-width: 991px) {
  .home-hero-h1.v2 .word {
    font-size: 48px !important;
  }

  .home-hero-h1.v2 {
    line-height: 48px;
  }
}

@media screen and (max-width: 479px) {
  .home-hero-h1.v2 {
    line-height: 100%;
  }

  .home-hero-h1.v2 .word {
    font-size: 40px !important;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: clamp(56px, 5vw, 64px);
  }

  .h2-fs-lg {
    font-size: clamp(64px, 6vw, 80px);
  }
}

/******************** Accordion ********************/
.accordion-item:first-child .accordion-toggle {
  padding-top: 0;
}

.accordion-toggle__title {
  white-space: initial;
}

.accordion-content.w--open {
  margin-bottom: 80px;
}

.accordion-content p:last-child {
  margin: 0;
}

@media screen and (min-width: 992px) {
  .accordion-toggle:hover .accordion-toggle__title {
    margin-left: 16px;
  }

  .accordion-toggle.w--open:hover .accordion-toggle__title {
    margin-left: 0;
  }
}

/******************** Cards ********************/
.card-v2 .btn-content {
  padding-inline: 0;
}

.card-v2 .btn {
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .cards-row .column {
    flex-grow: 1;
  }
}

/******************** Footer ********************/
.footer-top__nav-item * {
  color: var(--white);
}

/******************** Header + nav ********************/
.w-nav-link.w--current {
  color: var(--white);
}

.header-sticky {
  transform: translate(0%, -100%);
  backdrop-filter: drop-shadow(transparent 0px 0px 0px);
}

.header-sticky .mobile-menu-btn {
  display: flex;
}

.header-sticky .nav {
  gap: 16px;
}

.header-sticky .header-wrapper {
  padding-block: 16px;
}

.header-sticky .mobile-menu-btn__line {
  background-color: var(--primary-900) !important;
}

.main-header .nav-menu > .nav-item {
  padding-block: 32px;
}

.main-header .nav-menu > [class*="dropdown"] {
  padding-block: 0;
}

.header-transparent .nav-menu > .nav-item,
.header-transparent .nav-item__toggle {
  padding-block: 16px;
  border-radius: 12px;
  overflow: hidden;
}

.header-transparent .nav-menu > [class*="dropdown"] {
  padding-block: 0;
  border-radius: 0;
  overflow: visible;
}

.main-header .nav-item__toggle {
  border-radius: 12px 12px 0 0;
}

.main-header .nav-item__dropdown-wrapper {
  background-color: var(--primary-500);
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}

.header-transparent .nav-item__dropdown-wrapper {
  border-radius: 12px;
}

.dropdown-item.nav-item:hover,
.dropdown-item.nav-item.w--current {
  background-color: var(--primary-600);
  color: var(--white);
}

.dropdown-item.nav-item:last-child {
  border: none !important;
}

.nav-item:hover {
  color: var(--primary-200);
}

.main-header .nav-menu > .nav-item[class*="dropdown"]:hover svg * {
  fill: var(--primary-200);
}

.main-header .nav-menu > .nav-item[class*="dropdown"] svg * {
  fill: var(--white);
}

.header-transparent {
  padding-block: 16px;
}

.nav-cta .btn-content {
  padding: 12px 24px;
}

.btn-bg-hover {
  background-color: var(--primary-700);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(-102%);
}

.nav-cta .btn-bg-hover {
  transform: translate(-102%);
}

.nav-cta:hover .btn-bg-hover {
  transform: translate(0%);
}

.w-nav:before,
.w-nav:after {
  display: none;
}

.nav-menu {
  --nav-item-width: 0;
  --nav-item-left: 0;
}

.nav-menu::after {
  content: "";
  position: absolute;
  left: var(--nav-item-left);
  top: 0;
  height: 2px;
  width: var(--nav-item-width);
  background-color: var(--primary-500);
  transition: all 0.5s var(--ease-1);
  z-index: 100;
}

@media screen and (max-width: 1280px) {
  .main-header .nav-menu {
    display: none;
  }

  .main-header .mobile-menu-btn {
    display: flex;
  }
}

@media screen and (max-width: 1280px) {
  .main-header {
    padding-block: 16px;
  }
}

.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
}

/******************** Background Video + Play button ********************/
.cursor-follow .video-bg__play::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 0;
  transform: scale(var(--bgScale));
  border-radius: 50%;
}

.cursor-follow .video-bg__play::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("https://uploads-ssl.webflow.com/63551553f9e1cc2dbed13450/65ef8287a024dc5af672f46e_play_arrow_p500_24dp.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .cursor-follow .video-bg__play::after {
    width: 30px;
    height: 30px;
  }

  .video-bg__play {
    width: clamp(80px, 24vw, 120px);
    height: clamp(80px, 24vw, 120px);
  }
}

.video-bg__lightbox:hover .video-bg__label {
  transform: translate(0, 0);
}

.video-bg__lightbox:hover .video-bg__overlay {
  opacity: 1;
}

.video-bg__transition {
  clip-path: inset(0% 100% 0% 0%);
  z-index: 510;
}

.video-bg__lightbox {
  z-index: 520;
}

.youtube-embed-wrapper {
  height: 0px;
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  position: absolute;
  visibility: hidden;
  z-index: 500;
}

.youtube-iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube-embed-wrapper iframe {
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.scroll-inset-clip .video-bg__transition {
  opacity: 0;
  clip-path: none;
}

.video-bg__transition,
.youtube-embed-wrapper,
.youtube-embed-wrapper iframe,
[id*="trigger-yt-player"] {
  max-height: 90vh;
}

@media screen and (min-width: 992px) {
  .scroll-inset-clip .youtube-embed-wrapper iframe {
    padding-block: 12px;
  }
}

/******************** Mobile menu ********************/
.scrollable-box_hi__JHiXW::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.mobile-menu__content {
  overflow-y: scroll;
  height: 100svh;
}

.mobile-menu .nav-item,
.mobile-menu .nav-item__toggle {
  padding: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--white);
  text-transform: uppercase;
  grid-column-gap: 12px;
}

.mobile-menu .nav-item__toggle svg * {
  fill: var(--white);
}

.mobile-menu .nav-item__toggle--icon-bold {
  width: 48px;
  height: 48px;
}

.nav-item__toggle--icon-bold svg {
  width: 100%;
}

.mobile-menu .nav-item.mobile-nav-cta,
.mobile-menu .nav-item:hover,
.mobile-menu .nav-item__toggle:hover,
.mobile-menu .dropdown-item.nav-item.w--current {
  color: var(--primary-200);
}

.mobile-menu .nav-item__toggle:hover svg * {
  fill: var(--primary-200);
}

.mobile-menu .nav-item,
.mobile-menu .nav-menu {
  display: block;
}

.mobile-menu .nav-item__dropdown {
  display: block;
  position: static;
}

.mobile-menu .dropdown-item.nav-item {
  background-color: transparent;
  font-size: 0.75em;
  border: none;
}

.mobile-menu .nav-item__dropdown {
  margin-left: 16px;
  border-left: 2px solid rgba(255, 255, 255, 1) !important;
}

.mobile-menu .nav-item__dropdown-wrapper {
  padding-left: 24px;
  background: none;
  transform: none;
  opacity: 1 !important;
}

.menu-open .mobile-menu-overlay {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .mobile-menu .nav-item,
  .mobile-menu .nav-item__toggle {
    font-size: 8vw;
    grid-column-gap: 2vw;
  }
  .mobile-menu .nav-item__toggle--icon-bold {
    width: 7.5vw;
    height: 7.5vw;
  }
}

/******************** Splide ********************/
.slider-content .splide__track--fade > .splide__list > .splide__slide {
  transition: opacity 300ms var(--ease-2) 0s !important;
}

.slider-content
  .splide__track--fade
  > .splide__list
  > .splide__slide.is-active {
  transition: opacity 500ms var(--ease-2) 0.3s !important;
}

.slider-content .splide__slide {
  opacity: 0;
}

.splide__track {
  cursor: grab;
}

.splide__track:active {
  cursor: grabbing;
}

.splide__arrow {
  position: relative;
  top: initial;
  left: initial;
  bottom: initial;
  right: initial;
  background: transparent;
  opacity: 1;
  width: auto;
  height: auto;
  transform: none;
  border-radius: 80px;
  overflow: hidden;
}

.arrow-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 40px;
  border: 2px solid var(--primary-900);
  border-radius: 80px;
}

.arrow__icon {
  position: relative;
  z-index: 100;
}

.arrow-bg-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-900);
  transform: translateX(-100%);
  transition: all 0.2s var(--ease-1);
}

.splide__arrow:hover .arrow-bg-hover {
  transform: translateX(0%);
}

.splide__arrow:hover:not(:disabled) {
  opacity: 1;
}

/******************** Buttons ********************/
.btn-primary path {
  fill: var(--white) !important;
  transition: all 0.2s var(--ease-1);
}

.btn-tertiary path {
  fill: var(--primary-900) !important;
}

.btn:hover .btn-tertiary path {
  fill: var(--white) !important;
}

.btn-tertiary-light path {
  fill: var(--white) !important;
}

.btn:hover .btn-tertiary-light path {
  fill: var(--primary-900) !important;
}

.btn:hover .btn-bg-hover,
.card-v2:hover .btn-bg-hover {
  transform: translateX(0);
}

.card-v2:hover .card-v2__heading,
.card-v2:hover .card-v2__text {
  color: var(--primary-500);
}

.card-v2:hover path {
  fill: var(--primary-500);
}

a.btn:hover,
a.btn:hover .btn-content {
  color: var(--white);
  transition: none;
}

.btn-secondary + .btn-bg-hover {
  background-color: var(--primary-500);
}

.btn-tertiary + .btn-bg-hover {
  background-color: var(--primary-900);
}

.btn-tertiary-light + .btn-bg-hover {
  background-color: var(--white);
}

.btn:hover .btn-tertiary-light .btn_text {
  color: var(--primary-900);
}

.btn_text {
  width: max-content;
}

.close-btn__icon {
  transition: 0.3s var(--ease-1);
}

.close-btn:hover .close-btn__icon {
  transform: rotate(180deg);
}

@media screen and (max-width: 479px) {
  .btn-group .btn {
    width: 100%;
  }
}

/******************** Forms ********************/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px var(--white) inset !important;
}

.form-signup__success,
.form-signup__error {
  margin-top: 24px;
}

.form-radio.w-radio::before,
.form-radio.w-radio::after,
.w-checkbox.form-checkbox::before,
.w-checkbox.form-checkbox::after {
  content: none;
}

form button {
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .form-signup__wrapper .w-embed,
  .form-signup__wrapper .btn {
    width: 100%;
  }
}

.form-step {
  pointer-events: none;
}

.form-step.active-step {
  pointer-events: inherit;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  height: auto;
  border: 2px solid var(--neutral-300);
  border-radius: 8px;
  padding: 12px 16px;
  margin: 8px 0 0;
  font-size: inherit;
  color: inherit;
  background: var(--white);
  -webkit-appearance: none;
  appearance: none;
}

.form-radio,
.form-radio *,
.form-checkbox,
.form-checkbox *,
select {
  cursor: pointer;
}

.form-group select {
  padding-right: 40px;
  color: var(--neutral-400);
}

option {
  color: var(--neutral-700);
}

option:disabled {
  color: var(--neutral-400);
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  position: absolute;
  content: "";
  background: no-repeat
    url("https://uploads-ssl.webflow.com/63551553f9e1cc2dbed13450/64ea7c8e4443d947598a4e78_chevron-down-select-500.svg");
  background-size: 14px;
  background-position: center;
  bottom: 19px;
  right: 16px;
  width: 14px;
  height: 14px;
  transform: rotate(0deg);
  transition: all 0.2s var(--ease-1);
}

.select-wrapper.select-open::after {
  transform: rotate(-180deg);
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: var(--white);
  /* Not removed via appearance */
  margin: 0;
  padding: 0;
  width: auto;
  width: var(--radio-size);
  height: var(--radio-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group input[type="radio"] {
  border-radius: 50%;
}

.form-group input[type="radio"]::before {
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 50%;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--primary-500);
  transition: all 0.2s var(--ease-1);
}

.form-group input[type="checkbox"] {
  background-color: var(--primary-500);
  position: relative;
  border-radius: 5px;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  margin: 2px 1px 1px;
}

.form-group input[type="checkbox"]::before,
.form-group input[type="checkbox"]::after {
  content: "";
  width: 100%;
  height: 100%;
}

/* border-radius gives spaces for the main element's border,
otherwise the main border gets cut by the ::before's background */
.form-group input[type="checkbox"]::before {
  background-color: var(--white);
  transition: all 0.1s var(--ease-1) 0s;
  border-radius: 2px;
}

.form-group input[type="checkbox"]::after {
  position: absolute;
  background: no-repeat center
    url("https://uploads-ssl.webflow.com/63551553f9e1cc2dbed13450/64e0e1dc9521a23149c92246_checkbox-tick.svg");
  transform: scale(0);
  transition: all 0.1s var(--ease-1) 0.1s;
}

.form-group input[type="radio"]:checked::before,
.form-group input[type="checkbox"]:checked::after {
  transform: scale(1);
}

.form-group input[type="checkbox"]:checked::before {
  transform: scale(0);
}

.form-group input[type="radio"]:checked,
.form-group input[type="radio"]:checked:focus,
.form-group input[type="checkbox"]:checked,
.form-group input[type="checkbox"]:checked:focus {
  border-color: var(--primary-500);
  box-shadow: 0 0 2px 2px var(--primary-50);
}

.form-radio,
.form-checkbox {
  display: grid;
  grid-template-columns: 24px auto;
  gap: 12px;
  margin-top: 8px;
}

.form-radio {
  align-items: center;
}

.form-group input:hover,
.form-group textarea:hover,
.form-group select:hover {
  border-color: var(--primary-200);
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus,
.form-group input[type="radio"]:focus,
.form-group input[type="checkbox"]:focus {
  border-color: var(--primary-200);
  box-shadow: 0 0 2px 2px var(--primary-50);
}

.form-radio:hover input,
.form-checkbox:hover input:not(:checked)::before {
  border-color: var(--primary-500);
  background-color: var(--primary-50);
}

.form-checkbox:hover input:not(:checked) {
  border-color: var(--primary-500);
}

.form-radio label,
.form-checkbox label,
.form-hint,
.radio-group-label {
  display: inline-block;
  line-height: 1.5em;
  font-weight: 400;
}

.radio-group-label {
  font-weight: 600;
}

.form-hint {
  font-size: 16px;
  color: var(--neutral-500);
}

@media screen and (max-width: 479px) {
  .form-hint {
    font-size: 14px;
  }
}

.form-checkbox.acceptance {
  margin-top: 32px;
}

.step-item:first-of-type .step-bg {
  background-color: var(--primary-500);
}

.step-item:first-of-type .step-number {
  color: var(--white);
}

.steps-nav .w-embed {
  display: flex;
}

.steps-nav svg {
  width: 100%;
}

.error-msg.error-triggered {
  display: block;
}
